:root{
    --set-green: #BBCEA8;
    --set-grey: #393946;
    --set-lit-grey: #696773;
}

*{
    margin: 0px;
    padding: 0px;
    overflow-x: none;
}

body{
    background-color: var(--set-green);
}

h3{
    text-align: center;
}

/* NAVIGATION CSS */

/* ABOUT CSS */

#about{
}

#intro{
}

#avatar{
    height:400px;
    
}

/* <!-- TOOLS CSS --> */

#tools{
    color: var(--set-grey);
}

.icons{
    width: 30px;
    margin: auto;
}


/* PROJECTS CSS */
#projects{}

#projects-web{}

}

#projects-design{

}


.projects{
    background-color: #393946;
    width: 70vw;
    margin: 10px;

}

.project-image{
    width: 70vw;
}


/* SOCIALS CSS */
#socials{}



/* CONTANCT CSS */
#contact{}





/* MEDIA QUEREY CSS */

@media screen and (min-width: 480px) {
    
    .projects{
        background-color: #393946;
        width: 30%;
        margin: 10px;
    
    }

    .project-image{
        max-width: 100%;
    }
  }