:root{
    --set-green: #BBCEA8;
    --set-grey: #393946;
    --set-lit-grey: rgb(221,221,221);
}

*{
    margin: 0px;
    padding: 0px;
    overflow-x: none;
}

body{
    background-color: var(--set-lit-grey);
}

h3{
    text-align: center;
}

/* NAVIGATION CSS */
nav{
    background-color: var(--set-green);
}

/* ABOUT CSS */

#about{
    background-color: var(--set-green);
}

#intro{
}

#avatar{
    height:400px;
    
}

/* <!-- TOOLS CSS --> */

#tools{
    background-color: #96c26a;
    color: var(--set-grey);
    position: relative;
    top:150px;
    border-radius: 5px;
}

.icons{
    width: 30px;
    margin: auto;
    fill: var(--set-lit-grey);
}


/* PROJECTS CSS */
#projects{
}

#projects h3{
    padding-top: 150px;
}

#projects-web{}

}

#projects-design{

}


.projects{
    background-color: #393946;
    width: 70vw;
    margin: 10px;

}

.project-image{
    width: 70vw;
}


/* SOCIALS CSS */
#socials{}



/* CONTANCT CSS */
#contact{}





/* MEDIA QUEREY CSS */

@media screen and (min-width: 480px) {
    
    .icons{
        width: 40px;
        margin-bottom: 40px;
        fill: var(--set-lit-grey);
    }


    .projects{
        background-color: #393946;
        width: 30%;
        margin: 10px;
    
    }

    .project-image{
        max-width: 100%;
    }




  }